
<!DOCTYPE html>
<html>
<head>
	<title>Confirmation de réservation de place de parking</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Confirmation de réservation de place de parking</h1>
	<p>Merci pour votre réservation ! Votre place de parking a été réservée avec succès pour la période suivante :</p>
	<ul>
		<li>Du <strong>start-date à xx:xx</strong></li>
		<li>Au <strong>end-date à xx:xx</strong></li>
	</ul>
	<p>Nous vous remercions pour votre confiance et vous souhaitons une excellente journée !</p>
</body>
</html>
<router-outlet></router-outlet>