   .vh-100 {
    background-image: url("../../assets/image/s4.jpg");
    display: flex;
    justify-content: center;
    background-size: cover;
    
    }
    .form-group{ text-align: initial;}
    html, body {
        height: 100%;
        margin: 0;
    }

     .test{
        padding-right: 20px;
       
     }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    
    }
    .card-registration .select-arrow {
    top: 16px;

    
    }
    button{
        font-size: 14px; /* Taille de police de 24 pixels */
        padding: 2px 14px; /* Ajoute un rembourrage pour donner plus d'espace au texte */
        border-radius: 6px; /* Ajoute un arrondi pour donner un aspect plus arrondi */
        background-color: #141413; /* Couleur de fond */
        color: #fff; /* Couleur du texte */
        position: center;
    }