<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Demande de réservation</title>
  </head>
  <body>
    
    <form action="submit.php" method="post">
      <h2 margin="">Veuillez indiquer la période désirable</h2>

      <div style="display: flex; align-items: center;">
        <label for="start-date" style="margin-right: 10px;">De:</label>
        <input type="date" id="start-date" name="start-date" required style="margin-right: 20px;">

        <label for="end-date" style="margin-right: 10px;">jusqu'à:</label>
        <input type="date" id="end-date" name="end-date" required>
      </div>
      <div class="">
        <button type="button"  class="btn btn-black" style="width: 200px; margin-top: 120 px;"  routerLink="/confirmation">DEMANDER UNE PLACE</button>
       </div> 
    </form>
  </body>
</html>
